@import url('./reset_css.css');
@import url('./global.css');
@import url('./components/_navigator.css');
@import url('./components/_pills.css');
@import url('./components/_link-button.css');
@import url('./components/_gallery.css');

body 
{ 
 height: 100%;
 overflow: hidden
}

#home {
  color: white;
  border: 2px solid black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--primary-color);
  font-size: 2rem 700;
  -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000; 
}

#home:hover,
#home:active {
  color:var(--primary-color);
  background-color: white;
}
.s-wrapper {
  width: 100vw;
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
}

.s-wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s-wrapper .s-left-column {
width: 6rem;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
padding-right: 3rem;
left: 0;
top: 0;
z-index: 1;
}

.s-wrapper .s-main-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-left: 8rem;
  position: relative;
}

.s-wrapper .s-main-content-top {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

/* .s-wrapper .s-main-content-bottom {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

.s-wrapper .s-main-content .s-logo img {
  max-width: 60%;
  margin-top: 2rem;
  margin-left: 0;
  margin-bottom: 1.5rem;
}

.s-wrapper .s-main-content-top .s-description {
  background-color: rgba(0,0,0,.7);
  max-width: 50%;
  padding: 1.2rem;
  border-radius: 10px;
}

.s-wrapper .s-main-content-top .s-description .s-description-text p{
  color: white;
  line-height: 170%;
}

.s-wrapper .s-main-content-top .s-description .pills {
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
  padding: 20px;
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
  display: flex;
  flex-direction: row;
}

/* spiderman animation  */

.container-spiderman{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  position: fixed;
  top: 2rem;
  right: 1rem;
  z-index: 1;
}

.container-spiderman .spiderman {
  height: 10rem;
  width: auto;
  vertical-align: top;
  margin-top: -2rem;
  animation-name: animar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes animar {
  from {
    transform: translateY(-10rem);
  }

  to {
    transform: translateY(0px);
  }
}


 /* spiderman animation  */


/* .s-spiderman-01-01 {
  background-image: url('../images/spiderman-tobey/movie-01/background.png');
  background-size: cover;
} */

/* ------large devices 1023 > */
/*------large devices 992 > */
/* @media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size:1.125rem;
  }
 } */
 
 /*------medium devices 767 > */

 