.gallery {
  padding: 2rem;
  padding-left: 0;

}

.gallery ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gallery ul li{
  margin-left: 1.5rem;

}

.gallery ul li:first-child{
  margin-left: 0px;
}

.gallery ul li a img{

  width: 25rem;
  height: auto;
  size-adjust: cover;
  border: solid 6px white;
  border-radius: 15px;

}





